<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJyyj-FpyrDVVnyKh-B6C8M6idGQ6CAs4</string>
	<key>GCM_SENDER_ID</key>
	<string>458945984736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cardtrove.companion</string>
	<key>PROJECT_ID</key>
	<string>cardtrove-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>cardtrove-companion.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458945984736:ios:48986d5b9fc73c33ecb885</string>
</dict>
</plist>
